.footer-full-size {
  background-color: #dadada;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  @include media-breakpoint-down(xls) {
    padding: 0 15px;
  }
}
.footer-text {
  color: #868686;
  font-size: $font_size_main - 4;
}